
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
@using (Html.BeginForm("GetPDFByURL", "Home", FormMethod.Post, new { id = "URLForm" }))
{
    
 @Html.TextBox("URL", "http://www.codingsack.com");
   <input type="submit" value="submit" />
}

@using (Html.BeginForm("GetPDFByHTML", "Home", FormMethod.Post, new { id = "HTMLForm" }))
{
   @Html.TextArea("htmlCode", "<html><head></head><body> <h1> hello pdf </h1></body></html>", new  { cols = "100", row="150" });
   <input type="submit" value="submit" />
}
 </div>